@import url('./palette.module..css');


body{
	background-color: var(--porcelainJasper);
	max-height: 100vh;
	overflow: hidden;

	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

h1{
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 3rem;
	background-image: url('/public/mockup.jpg');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	height: 80vh;
	width: 100vw;
	border: 1px solid black;
	background-color: #EBECEE;
}

.mask{
	background-image: url('/mask.png');
	background-position: center;
	background-repeat: no-repeat;
	position: absolute;
	z-index: 3;
	width: 100%;
	height: 100%;
	border-radius: 18%;
	

}

