
/* MindfulPalettes series #31 */
/* https://twitter.com/AlexCristache/status/1743542925219573846/photo/1 */
:root{
	--lighthouse: #F3F4F4;
	--porcelainJasper : #DFE2E4;
	--pavedGold:#E8D284;
	--canadianMaple:#CAB266;
	--shadowNight : #2A4F61;
	--petrolSlumber : #243640;
}